
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 10vh;
    top: 0;
    transition: top 0.3s;
    position: fixed;
    background: linear-gradient(180deg, rgba(34, 143, 178, 0.7) 0%, rgba(17, 82, 104, 0.0) 100%);
}

.hidden {
    top: -100px;
}

header img {
    width: 225px;
    height: 45px;
}

header .buttons {
    display: flex;
    align-items: center;
    border: 2px solid var(--offwhite);
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
}

header .buttons button {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: var(--fs-20);
    color: var(--offwhite);
    padding: 10px;
    cursor: pointer;
}

header .login-container {
    display: flex;
    align-items: center;
}

header .login-container button,header .login-container a {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: var(--fs-20);
    color: var(--offwhite);
    background-color: transparent;
    border: 2px solid var(--offwhite);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
}


.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.initial {
    transform: scaleX(-1);
    background: 
        linear-gradient(180deg, rgba(34, 143, 178, 0.7) 0%, rgba(17, 82, 104, 0.7) 100%),
        url('assets/imgs/initial.jpeg');
    background-size: cover;
}

.info-page .background.mission {
    background: 
        linear-gradient(180deg, rgba(34, 143, 178, 0.7) 0%, rgba(17, 82, 104, 0.7) 100%),
        url('assets/imgs/mission.jpeg');
    background-size: cover;
}

.info-page .background.schedule {
    background: 
        linear-gradient(180deg, rgba(34, 143, 178, 0.7) 0%, rgba(17, 82, 104, 0.7) 100%),
        url('assets/imgs/schedule.jpeg');
    background-size: cover;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page .texts {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .texts h1 {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: 5.625rem;
    color: white;
    /* line-height: 0px; */
    margin: 0;
}

.page .texts span {
    font-family: "Montserrat-Regular";
    font-weight: 500;
    font-size: var(--fs-24);
    color: white;
    text-align: center;
    width: 30%;
}

.page .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page .buttons .btn {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: var(--fs-24);
    color: var(--blue);
    background-color: var(--offwhite);
    border: 3px solid var(--offwhite);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.page .buttons .btn-2 {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: var(--fs-24);
    color: var(--offwhite);
    background-color: transparent;
    border: 3px solid var(--offwhite);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.divider {
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divider .texts {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider .texts h2 {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: var(--fs-40);
    color: #197C9C;
    line-height: 40px;
    margin: 0 auto;
}

.divider .texts span {
    font-family: "Montserrat-Regular";
    font-weight: 500;
    font-size: var(--fs-20);
    color: #0B3441;
}

.divider .cards {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.divider .cards .card {
    display: flex;
    width: 14vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(67.53deg, var(--blue) -53.97%, #20A2CC 101.25%);
    padding: 30px 15px;
    border-radius: 10px;
    

}

.divider .cards .card h2 {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: var(--fs-26);
    color: white;
    margin: 0 auto;
    margin-bottom: 10px;
}

.divider .cards .card span {
    font-family: "Montserrat-Regular";
    font-weight: 500;
    font-size: var(--fs-14);
    color: white;
}



.info-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.info-page .side {
    width: 40%;
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
}

.info-page .side .texts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info-page .side .texts h1 {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: 5.3125rem;
    color: white;
    line-height: 0px;
}

.info-page .side .texts h2 {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: 2.875rem;
    color: white;
    margin: 0 auto;
}

.info-page .side button {
    font-family: "Montserrat-Bold";
    font-weight: 800;
    font-size: var(--fs-24);
    color: #197C9C;
    background-color: var(--offwhite);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    width: 30%;
}

.info-page .side .texts span {
    font-family: "Montserrat-Thin";
    font-weight: 800;
    font-size: var(--fs-20);
    color: rgba(255, 255, 255, 0.801);
    width: 80%;
    text-align: left;
}

.info-page .info-image{
    width: 30%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px 0px #00000040;
    
}

.info-page .info-image.mission{
    background-image: url('assets/imgs/mission2.jpeg');
    background-size: cover;
}


.info-page .info-image.schedule{
    background-image: url('assets/imgs/schedule2.jpeg');
    background-size: cover;
}
